#search-term {
	text-align: center;
	margin-top: 15%;
}
#query {
	background-color: beige;
	size: 1.5rem;
	font-size: 3vw 3vh;
	width: 20rem;
	height: 2rem;
	margin: auto;
	border-radius: 5px;
}

#submit-button {
	background-color: #02bda3;
	font-size: 3vw 3vh;
	color: #eae4df;
	border-radius: 5px;
}

.search-results {
	display: inline-block;
	float: left;
	list-style-type: none;
	background: beige;
	border-top: 3px solid #F5F5DC;
	width: 100%;
	text-align: center;
}

