
* {
	margin:0;
	padding:0;
}
html {
	background-color: #092f09;
}
h1 {
	text-align: center;
	color: #02bda3;
	margin-top: 10%;
	font-family: Fascinate Inline;
}
#search-term {
	text-align: center;
	margin-top: 3%;
}
#query {
	background-color: beige;
	size: 1.5rem;
	width: 20rem;
	height: 2rem;
	margin: auto;
	border-radius: 5px;
	text-align: left;
	padding: 10px;
}

#submit-button {
	background-color: #02bda3;
	color: #eae4df;
	border-radius: 5px;
	padding: 8px;
	height: 3rem;
}

.search-results {
	list-style-type: none;
	background: beige;
	text-align: center;
	margin-top: 6%;
	font-size: 0;
}

.results {
	box-sizing: border-box;
	padding: 30px;
	width: 25%;
	display: inline-table;
}

.results img {
	width: 100%;
	border:6px solid #02bda3;
	border-radius: 5px;
	margin-top: 4%;
}
.results .channelTitle {
	font-weight: 600;
	font-size: 16px;
	margin-top: 6%;
	color: #02bda3;
	height: 20px;
}

.results .description {
    font-size: 12px;
    height: 10px;
    margin-top: 2%;
    margin-bottom: 8%;
}

@media only screen and (min-width: 717px) and (max-width: 980px) {
.results {
	box-sizing: border-box;
	padding: 30px;
	width: 33%;
	display: inline-table;
	}
}
@media only screen and (min-width: 100px) and (max-width: 716px) {
.results {
	box-sizing: border-box;
	padding: 30px;
	width: 50%;
	display: inline-table;
	}
	.results .description {
    font-size: 2vw;
    height: 5px;
    margin-top: 2%;
    margin-bottom: 10%;
	}
	h1 {
		margin-top: 25%;
		font-size: 12vw;
	}
	.results .channelTitle {
		font-size: 3.25vw;
		margin-bottom: 4%;
	}
	#query {
		margin-top: 8%;
	}
}

